<tr>
  <td class="content"><%= article.content %></td>
  <td class="posted_at"><%= article.created_at.strftime("%Y/%m/%d %H:%M") %></td>
  <td class="approve"><%= article.approved %></td>
  <td class="action">
    <%= link_to 'Detail', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Delete', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  </td>
